@charset "EUC-KR";

.popup 
	{position: absolute;}
.back 
	{background-color:gray; opacity:0.5; 
	width:100%; height:300%; overflow:hidden; z-index:1101;}
.front
	{opacity:1; boarder:1px; margin:auto; z-index:1110;}
.show temp{
	position:relative;max-width:1200px;max-height:800px;overflow:auto;
}
